#body{
    background-color: rgba(42, 48, 112,0.85);
    width: 90%;
    height: 100vh;
    margin: 3.125rem auto;
  }
  #title{
    text-align: center;
    font-size: 30px;
    color: white;
    font-family: Verdana , Tahoma , sans-ferif; 
  }
  #description{
    text-align: center;
    font-size: 18px;
    color: white;
  }
  #survey-form{
    margin: 0 auto;
    width: 500px;
    max-width: 500px;
    min-width: 300px;
    color: white;
    background-color: rgba(17,5,54,0.7);
    padding: 2.5rem;
    border-radius: 0.35rem;
  }
  #dropdown{
    display: block;
    margin: 10px 0;
    width: 500px; 
    font-size: 16px;
    border-radius: 0.35rem;
    border: 1px solid rgba(17,5,54,0.7)
  }
  label{
    display: block;
  }
  #name , #email , #number{
    font-family: Verdana , sans-ferif;
    font-size: 14px;
    height: 30px;
    width: 500px;
    margin: 10px 0; 
    padding: 0.50rem;
    display: block;
    border-radius: 0.35rem;
    border: 1px solid rgba(17,5,54,0.7);
  }
  .comend , .genres{
    margin: 10px 0;
    font-family: Verdana , sans-ferif;
    font-size: 14px;
  }
  .area ,.submit{
    margin: 5px 0;
    width: 500px;
    font-size: 16px;
  }
  input[value]{
    margin: 10px 0;
  }
  #submit{
    background-color: green;
    color: white;
    font-family: Verdana , sans-ferif;
    font-size: 16px;
  }
  #name-label , #email-label , #number-label{
    font-family: Verdana , Tahoma , sans-ferif; 
  }
